[run]
source = autocnet
[report]
omit =
    autocnet/__init__.py
    autocnet/fileio/ControlNetFileV0002_pb2.py
    autocnet/vis/graph_view.py
    autocnet/matcher/cuda_extractor.py
    autocnet/matcher/cuda_matcher.py
    bin/*
    */tests/*
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == __main__:
